{% extends 'template.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark">
        <h2 class="text-center nanum bold text-white mt-5">API 설명서</h2>
        <h4 class="text-center nanum text-white">유실물 통합 조희 API의 사용 방법을 소개합니다.</h4>
</div>

<div class="content">
    <div class="container">
        <nav id="navbar-example2" class="navbar navbar-light bg-light">
          <a class="navbar-brand" href="#">Json 에시</a>
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link" href="#LostInfo">LostInfo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#FoundInfo">FoundInfo</a>
            </li>
          </ul>

        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
          <h4 id="LostInfo">LostInfo</h4>
          <p>
                {{ lostThings }}
          </p>
          <h4 id="FoundInfo">FoundInfo</h4>
          <p>
                {{ foundThings }}
          </p>
        </div>
        </nav>
    </div>
</div>
{% endblock %}