{% extends 'template.html' %}

{% block content %}
<form>
    <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="LostName">분실물 이름</span>
          </div>
          <input type="text" class="form-control" placeholder="LostName" aria-label="LostName" aria-describedby="LostName">
    </div>

    <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="StartDate">검색 시작 날짜</span>
          </div>
          <input type="text" class="form-control" placeholder="Search Start date" aria-label="Search Start date" aria-describedby="StartDate">
    </div>
    <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="EndDate">검색 종료 날짜</span>
          </div>
          <input type="text" class="form-control" placeholder="Search End data" aria-label="Search End data" aria-describedby="EndDate">
    </div>
    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="LostRange">분실 범위</label>
      </div>
      <select class="custom-select" id="LostRange">
        <option selected>Choose...</option>
        <option value="서울">서울</option>
        <option value="강원">강원</option>
        <option value="경기">경기</option>
        <option value="경남">경남</option>
        <option value="경북">경북</option>
        <option value="광주">광주</option>
        <option value="대구">대구</option>
        <option value="대전">대전</option>
        <option value="부산">부산</option>
        <option value="울산">울산</option>
        <option value="인천">인천</option>
        <option value="전남">전남</option>
        <option value="전북">전북</option>
        <option value="충남">충남</option>
        <option value="충북">충북</option>
        <option value="제주">제주</option>
        <option value="세종">세종</option>
        <option value="해외">해외</option>
        <option value="기타">기타...</option>
      </select>
    </div>
    <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="LostPlace">분실 장소</span>
          </div>
          <input type="text" class="form-control" placeholder="LostPlace" aria-label="LostPlace" aria-describedby="LostPlace">
    </div>
    <input class="btn btn-primary" type="submit" name="submit_button" value="Submit">
</form>

<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}