{% extends 'template.html' %}

{% block content %}
<div class="jumbotron jumbotron-fluid bg-dark">
    <h2 class="text-center nanum bold text-white mt-5">API 설명서</h2>
    <h4 class="text-center nanum text-white">유실물 통합 조회 API의 사용 방법을 소개합니다.</h4>
</div>

<div class="content">
    <div class="container">
        <nav class="nav">
            <div class="container text-center my-3">
                <a class="navbar-brand nanum bold text-warning" href="#lostInfo">분실물 정보 조회 및 예상 습득물 조회 서비스</a>
                <a class="navbar-brand nanum bold text-warning" href="#foundInfo">습득물 통합 조회 서비스</a>
            </div>
        </nav>
        <div class="card card-nav-tabs my-5">
            <h3 class="card-header card-header-info nanum bold" id="lostInfo">분실물 정보 조회 및 예상 습득물 조회 서비스</h3>
            <div class="card-body text-center">
                <div class="mt-5">
                    <h3 class="nanum normal">서비스 URL</h3>
                    <h4 class="display-4 nanum bold">http://18.233.102.135:8000/api/lostInfo</h4>
                </div>
                <div class="mt-5">
                    <h3 class="nanum normal">요청 파라미터 목록</h3>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">기본값</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">pageNo</th>
                            <td>페이지 번호</td>
                            <td>옵션</td>
                            <td>1</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostNumOfRows</th>
                            <td>분실물 목록 건수</td>
                            <td>옵션</td>
                            <td>10</td>
                            <td>10</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundNumOfRows</th>
                            <td>예상 습득물 최대 목록 건수</td>
                            <td>옵션</td>
                            <td>10</td>
                            <td>10</td>
                            <td>getPredictedItems가<br>0이면 사용하지 않음</td>
                        </tr>
                        <tr>
                            <th scope="row">lostPlaceSiDo</th>
                            <td>분실장소 (시/도)</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>서울</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">startDate</th>
                            <td>검색 시작일</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>20190101</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">endDate</th>
                            <td>검색 종료일</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>20191217</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">mainCategory</th>
                            <td>분실물 대분류</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">subCategory</th>
                            <td>분실물 중분류</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>남성용 지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostPlace</th>
                            <td>분실장소 (위치)</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>노상</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">brandName</th>
                            <td>브랜드명</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>구찌</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">getPredictedItems</th>
                            <td>예상 습득물 표시 여부</td>
                            <td>옵션</td>
                            <td>1</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h3 class="nanum normal">응답 파라미터 목록</h3>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">lostNumOfRows</th>
                            <td>분실물 검색 결과 목록 건수</td>
                            <td>필수</td>
                            <td>10</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostPageNo</th>
                            <td>페이지 번호</td>
                            <td>필수</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">maxFoundNumOfRows</th>
                            <td>예상 습득물 최대 목록 건수</td>
                            <td>옵션</td>
                            <td>10</td>
                            <td>요청 시 getPredictedItems가<br>0이면 사용하지 않음</td>
                        </tr>
                        <tr>
                            <th scope="row">items</th>
                            <td>분실물 목록</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>요소가 0개 이상인 배열</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h4 class="nanum normal">items 목록</h4>
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">color</th>
                            <td>색상</td>
                            <td>옵션</td>
                            <td>그린(초록)</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">id</th>
                            <td>관리 ID</td>
                            <td>옵션</td>
                            <td>L2019121700000024</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">image</th>
                            <td>분실물 이미지</td>
                            <td>옵션</td>
                            <td>https://www.lost112.go.kr/lostnfs<br>/images/sub/img04_no_img.gif</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostHour</th>
                            <td>분실 시간</td>
                            <td>옵션</td>
                            <td>13</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostLocationName</th>
                            <td>분실장소 (시/도)</td>
                            <td>옵션</td>
                            <td>부산광역시</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostPlace</th>
                            <td>분실장소 (위치)</td>
                            <td>옵션</td>
                            <td>길거리</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostPlaceSub</th>
                            <td>분실장소 구분명</td>
                            <td>옵션</td>
                            <td>노상</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostProductName</th>
                            <td>분실물 이름</td>
                            <td>옵션</td>
                            <td>폴스미스 지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostStateName</th>
                            <td>분실물 상태명</td>
                            <td>옵션</td>
                            <td>온라인 접수</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostSubject</th>
                            <td>게시 제목</td>
                            <td>옵션</td>
                            <td>지갑 분실</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">lostYMD</th>
                            <td>분실일자</td>
                            <td>옵션</td>
                            <td>2019-12-16</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">orgId</th>
                            <td>기관 ID</td>
                            <td>옵션</td>
                            <td>O0000312</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">orgName</th>
                            <td>기관명</td>
                            <td>옵션</td>
                            <td>부산진경찰서</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">productCategory</th>
                            <td>분실물 대분류</td>
                            <td>옵션</td>
                            <td>지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">productCategorySub</th>
                            <td>분실물 중분류</td>
                            <td>옵션</td>
                            <td>남성용 지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">tel</th>
                            <td>기관 전화번호</td>
                            <td>옵션</td>
                            <td>051-890-9347</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">predictedItems</th>
                            <td>예측 습득물 목록</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>요소가 0개 이상인 배열</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h4 class="nanum normal">predictedItems 목록</h4>
                    <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">depPlace</th>
                            <td>습득 위치</td>
                            <td>옵션</td>
                            <td>신도림역(2호선)</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundHour</th>
                            <td>습득 시간</td>
                            <td>옵션</td>
                            <td>01</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundPlace</th>
                            <td>습득 위치</td>
                            <td>옵션</td>
                            <td>지하철</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundProductName</th>
                            <td>습득물 이름</td>
                            <td>옵션</td>
                            <td>MCM 가죽 지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundSeq</th>
                            <td>습득 순서</td>
                            <td>옵션</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundYMD</th>
                            <td>습득일자</td>
                            <td>옵션</td>
                            <td>2019-12-18</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">id</th>
                            <td>관리 ID</td>
                            <td>옵션</td>
                            <td>V0002024E12180002</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">image</th>
                            <td>분실물 이미지</td>
                            <td>옵션</td>
                            <td>https://www.lost112.go.kr/lostnfs<br>/images/sub/img04_no_img.gif</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">orgId</th>
                            <td>기관 ID</td>
                            <td>옵션</td>
                            <td>V0002024</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">orgName</th>
                            <td>기관명</td>
                            <td>옵션</td>
                            <td>신도림역(2호선)</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">productCategory</th>
                            <td>습득물 대분류</td>
                            <td>옵션</td>
                            <td>지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">productCategorySub</th>
                            <td>습득물 중분류</td>
                            <td>옵션</td>
                            <td>여성용 지갑</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">state</th>
                            <td>보관 상태명</td>
                            <td>옵션</td>
                            <td>보관중</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">tel</th>
                            <td>기관 전화번호</td>
                            <td>옵션</td>
                            <td>02-6110-2341</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">uniq</th>
                            <td>특이사항</td>
                            <td>옵션</td>
                            <td>신도림역(2호선)에서는 [19.12.18]<br>[MCM 가죽 지갑(코럴(산호)색)]을...</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundKeepOrgCategoryName</th>
                            <td>습득물 보관기관 구분명</td>
                            <td>옵션</td>
                            <td>관서보관</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h3 class="nanum normal">요청 / 응답 메시지 예제</h3>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">요청 REST URI</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>http://localhost:8000/api/lostInfo?lostPlaceSiDo=충남&startDate=20190101&endDate=20191218&mainCategory=지갑&subCategory=남성용 지갑&brandName=구찌</td>
                        </tr>
                        <tr>
                            <th scope="col">응답 메시지</th>
                        </tr>
                        <tr>
                            <td>{
    "items": [
        ...,
        {
            "color": "기타",
            "id": "L2019112100000320",
            "image": "https://www.lost112.go.kr/lostnfs/images/uploadImg/20191121/20191121013346808.png",
            "lostHour": "10",
            "lostLocationName": "충청남도",
            "lostPlace": "천안쌍용고등학교3-7반",
            "lostPlaceSub": "학교",
            "lostProductName": "구찌 타이거 반지갑",
            "lostStateName": "온라인 접수",
            "lostSubject": "구찌타이거  반지갑 분실",
            "lostYMD": "2019-11-21",
            "orgId": "O0001304",
            "orgName": "천안서북경찰서",
            "predictedItems": [
                {
                    "depPlace": "천안서북경찰서",
                    "foundHour": "22",
                    "foundKeepOrgCategoryName": "관서보관",
                    "foundPlace": "노상",
                    "foundProductName": "BELCARINO 남성 반지갑",
                    "foundSeq": "1",
                    "foundYMD": "2019-11-29",
                    "id": "F2019113000000074",
                    "image": "https://www.lost112.go.kr/lostnfs/images/sub/img04_no_img.gif",
                    "orgId": "O0001304",
                    "orgName": "천안서북경찰서",
                    "productCategory": "지갑",
                    "productCategorySub": "남성용 지갑",
                    "state": "보관중",
                    "tel": "041-536-1347",
                    "uniq": "내용\r\n\r\n 불당지구대에서는 [2019.11.29]  [BELCARINO 남성 반지갑(블랙(검정)색)]을 습득/보관 하였습니다.\r\n분실하신 분께서는 본인을 증명할 수 있는 서류를 지참하시어 보관중으로 기재되어 있는 기관에\r\n방문하시어 보관물품을 수령하시기 바랍니다.\r\n\r\n특이사항 : 없음"
                },...
            ],
            "productCategory": "지갑",
            "productCategorySub": "남성용 지갑",
            "tel": "041-536-1347"
        },...
    ],
    "lostNumOfRows": 10,
    "lostPageNo": 1,
    "maxFoundNumOfRows": 10
}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card card-nav-tabs my-5">
            <h3 class="card-header card-header-info nanum bold" id="foundInfo">습득물 통합 조회 서비스</h3>
            <div class="card-body text-center">
                <div class="mt-5">
                    <h3 class="nanum normal">서비스 URL</h3>
                    <h4 class="display-4 nanum bold">http://18.233.102.135:8000/api/foundInfo</h4>
                </div>
                <div class="mt-5">
                    <h3 class="nanum normal">요청 파라미터 목록</h3>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">기본값</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">pageNo</th>
                            <td>페이지 번호</td>
                            <td>옵션</td>
                            <td>1</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">NumOfRows</th>
                            <td>분실물 목록 건수</td>
                            <td>옵션</td>
                            <td>10</td>
                            <td>10</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundPlaceSiDo</th>
                            <td>습득장소 (시/도)</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>서울</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">startDate</th>
                            <td>검색 시작일</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>20190101</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">endDate</th>
                            <td>검색 종료일</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>20191217</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">mainCategory</th>
                            <td>습득 대분류</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>가방</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">subCategory</th>
                            <td>분실물 중분류</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>여성용 가방</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundPlace</th>
                            <td>습득장소 (위치)</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>노상</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundName</th>
                            <td>습득물 (브랜드) 이름</td>
                            <td>옵션</td>
                            <td>-</td>
                            <td>프라다</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h3 class="nanum normal">응답 파라미터 목록</h3>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">foundItems</th>
                            <td>경찰서 습득물 목록</td>
                            <td>필수</td>
                            <td>-</td>
                            <td>요소가 0개 이상인 배열</td>
                        </tr>
                        <tr>
                            <th scope="row">portalItems</th>
                            <td>포털기관 습득물 목록</td>
                            <td>필수</td>
                            <td>-</td>
                            <td>요소가 0개 이상인 배열</td>
                        </tr>
                        <tr>
                            <th scope="row">foundPageNo</th>
                            <td>경찰서 습득물 페이지 번호</td>
                            <td>필수</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundNumOfRows</th>
                            <td>경찰서 습득물 목록 건수</td>
                            <td>필수</td>
                            <td>10</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">portalPageNo</th>
                            <td>포털기관 습득물 페이지 번호</td>
                            <td>필수</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">portalNumOfRows</th>
                            <td>포털기관 습득물 목록 건수</td>
                            <td>필수</td>
                            <td>10</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h4 class="nanum normal">foundItems, portalItems 목록</h4>
                                        <table class="table table-striped">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">항목명 (영문)</th>
                            <th scope="col">항목명 (한글)</th>
                            <th scope="col">항목구분</th>
                            <th scope="col">예시</th>
                            <th scope="col">비고</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">depPlace</th>
                            <td>습득 위치</td>
                            <td>옵션</td>
                            <td>마들지구대</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundHour</th>
                            <td>습득 시간</td>
                            <td>옵션</td>
                            <td>19</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundPlace</th>
                            <td>습득 위치</td>
                            <td>옵션</td>
                            <td>노상</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundProductName</th>
                            <td>습득물 이름</td>
                            <td>옵션</td>
                            <td>여성용 털 가방,화장품</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundSeq</th>
                            <td>습득 순서</td>
                            <td>옵션</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundYMD</th>
                            <td>습득일자</td>
                            <td>옵션</td>
                            <td>2019-12-17</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">id</th>
                            <td>관리 ID</td>
                            <td>옵션</td>
                            <td>F2019121700002225</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">image</th>
                            <td>분실물 이미지</td>
                            <td>옵션</td>
                            <td>https://www.lost112.go.kr/lostnfs<br>/images/sub/img04_no_img.gif</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">orgId</th>
                            <td>기관 ID</td>
                            <td>옵션</td>
                            <td>O0000239</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">orgName</th>
                            <td>기관명</td>
                            <td>옵션</td>
                            <td>마들지구대</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">productCategory</th>
                            <td>습득물 대분류</td>
                            <td>옵션</td>
                            <td>가방</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">productCategorySub</th>
                            <td>습득물 중분류</td>
                            <td>옵션</td>
                            <td>여성용가방</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">state</th>
                            <td>보관 상태명</td>
                            <td>옵션</td>
                            <td>보관중</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">tel</th>
                            <td>기관 전화번호</td>
                            <td>옵션</td>
                            <td>02-2092-0306</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">uniq</th>
                            <td>특이사항</td>
                            <td>옵션</td>
                            <td>내용\r\n\r\n 마들지구대에서는 [2019.12.17]<br>[여성용 털 가방,화장품(블랙(검정)색)]을...</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">foundKeepOrgCategoryName</th>
                            <td>습득물 보관기관 구분명</td>
                            <td>옵션</td>
                            <td>관서보관</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mt-5">
                    <h3 class="nanum normal">요청 / 응답 메시지 예제</h3>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">요청 REST URI</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>http://localhost:8000/api/foundInfo?foundPlaceSiDo=서울&startDate=20190101&endDate=20191217&mainCategory=가방&subCategory=여성용 가방&foundPlace=&foundName=</td>
                        </tr>
                        <tr>
                            <th scope="col">응답 메시지</th>
                        </tr>
                        <tr>
                            <td>{
    "foundItems": [
        {
            "depPlace": "신사파출소",
            "foundHour": "06",
            "foundKeepOrgCategoryName": "관서보관",
            "foundPlace": "노상",
            "foundProductName": "가방 및 클라우드5캔",
            "foundSeq": "1",
            "foundYMD": "2019-12-17",
            "id": "F2019121700002494",
            "image": "https://www.lost112.go.kr/lostnfs/images/sub/img04_no_img.gif",
            "orgId": "O0000170",
            "orgName": "신사파출소",
            "productCategory": "가방",
            "productCategorySub": "여성용가방",
            "state": "보관중",
            "tel": "02-870-0880",
            "uniq": "내용\r\n\r\n 신사파출소에서는 [2019.12.17]  [가방 및 클라우드5캔(블랙(검정)색)]을 습득/보관 하였습니다.\r\n분실하신 분께서는 본인을 증명할 수 있는 서류를 지참하시어 보관중으로 기재되어 있는 기관에\r\n방문하시어 보관물품을 수령하시기 바랍니다.\r\n\r\n특이사항 : 없음"
        },...
    ],
    "foundNumOfRows": 10,
    "foundPageNo": 1,
    "portalItems": [
        {
            "depPlace": "중앙보훈병원역(9호선)",
            "foundHour": "05",
            "foundPlace": "지하철",
            "foundProductName": "구찌여성숄더백",
            "foundSeq": "1",
            "foundYMD": "2019-08-24",
            "id": "V0002742E08240004",
            "image": "https://www.lost112.go.kr/lostnfs/images/sub/img04_no_img.gif",
            "orgId": "V0002742",
            "orgName": "중앙보훈병원역(9호선)",
            "productCategory": "가방",
            "productCategorySub": "여성용가방",
            "state": "보관중",
            "tel": "02-2656-0938",
            "uniq": "중앙보훈병원역(9호선)에서는 [19.08.24]  [구찌여성숄더백(피치오렌지(오렌지)색)]을 습득/보관 하였습니다.\r\n분실하신 분께서는 본인을 증명할 수 있는 서류를 지참하시어 보관중으로 기재되어 있는 기관에\r\n방문하시어 보관물품을 수령하시기 바랍니다.\r\n\r\n특이사항 : 없음"
        },...
    ],
    "portalNumOfRows": 10,
    "portalPageNo": 1
}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}