<!doctype html>
<html lang="en">
<head>
    <title>유실물 통합 조회 API</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- Fonts and icons -->
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">

    <!--  나눔스퀘어 웹 폰트  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <style>
        .nanum {
            font-family: 'NanumSquare', sans-serif;
        }

        .nanum.normal {
            font-weight: 400
        }

        .nanum.bold {
            font-weight: 700
        }

        .nanum.bolder {
            font-weight: 800
        }

        .nanum.light {
            font-weight: 300
        }
    </style>

    <!-- Material Kit CSS -->
    <link href="/static/assets/css/material-kit.css" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="100">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand nanum bold" href="/">
                DACHAZA</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/menu/api_example" class="nav-link">
                        분실물 조회
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/menu/api_example2" class="nav-link">
                        습득물 조회
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/menu/api_manual" class="nav-link">
                        API 사용법
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/menu/api_run" class="nav-link">
                        API 테스트
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block content %}{% endblock %}

<footer class="footer footer-default">
    <div class="container">
        <div class="copyright float-center">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            Seongchan Kim, Quaenam Kim.
            <br>
            <a href="https://www.creative-tim.com/product/material-kit" target="blank">Material Kit</a>
            designed by <a href="https://www.creative-tim.com/" target="blank">Creative Tim</a>.
        </div>
    </div>
</footer>

<!--   Core JS Files   -->
<script src="/static/assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="/static/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/static/assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="/static/assets/js/plugins/moment.min.js"></script>

<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script src="/static/assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="/static/assets/js/plugins/nouislider.min.js" type="text/javascript"></script>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>

<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script src="/static/assets/js/material-kit.js?v=2.0.6" type="text/javascript"></script>
</body>
</html>